# .gitignore

# Node
node_modules/
.expo/
.expo-shared/

# Python
__pycache__/
*.pyc
venv/

# Firebase
firebase/serviceAccountKey.json
frontend/firebase/firebaseConfig.js
frontend/firebase/firebaseConfig.js
exchange-for-students-firebase-adminsdk-fbsvc-55c7e57c50.json
